/* TABLE OF CONTENTS
    1. Basic
    2. Navbar
    3. Columns
    4. Links
    5. Text
    6. Buttons
    7. Tables
    8. Portfolio
    9. Skills
    10. Contact
    11. Footer
*/
/* 1. Basic */

html {
	margin-right: 0!important;
}

body {
	margin: 0;
	padding: 0;
	border: none;
	font-weight: 300;
}
.page {
	position: relative;
	overflow: hidden;
}
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* 2. Navbar */

.navbar {
    min-height: 100px;
    max-height: 120px;
} 
.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}
.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
}
.horizontal-linetop{
    width: 100%;
    background-color: #808000;
    height: 6px;
}
.horizontal-line{
    width: 100%;
    background-color: #808000;
    height: 1px;
}
.navbar-nav>li:after {
    content: '';
    display: block;
    border-bottom: 5px solid transparent;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: ease .25s;
}
.navbar-nav>li:hover:after {
    border-bottom: 3px solid #808000;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1.5em;
    }
}
.img-fluid{
    border-radius: 50px;
}

/* 3. Columns */

.row {
	margin: 0 -25px;
	padding: 0 0 50px 0;
	position: relative;
}

.col-md-6 {
    background-color: #f5f3f3;
    padding-left: 15%;
}
/* 4. Links */

a {
    color: #222222;
    font-size: larger;
}
a:hover {
    color: #222222;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: unset;
}

/* 5. Text */

h1{
    font-family: 'Times New Roman', Times, serif;
    color: #292929;
    font-size: 28px;
    line-height: 40px;
}

/* 6. Buttons */

.btn-primary, .btn-primary:hover {
    background-image: linear-gradient(#808000, #808000 6%, #808000);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #555555;
}
.btn-primary:hover {
    color: #222222;
    background-color:#f5f3f3;
    border-color: #f5f3f3;
}
.btn:hover {
    columns: #222222;
    text-decoration: none;
}

/* 7. Table */

.column-center {
    overflow: hidden !important;
}
td{
LINE-HEIGHT:25px;
}
th{
font-size: large;
}
tr, td{
text-align: left;
}
.col-md-6 {
    background-color: #f5f3f3;
    padding-left: 15%;
}

/* 8. Portfolio */

.imageadjust{
    width: 100%;
  }
.imageborder{
    width: 370px;
    height: 250px;
}
.viewproject-size{
    font-size: medium;
}
.space{
    padding: 5px;
}
.imageborder{
    border: 0.5px solid rgb(221, 220, 220);
}
.img-fluid{
    border-radius: 50px;
}

/* Popup */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    /* transition: all 5s ease-in-out; */
} 
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.content{
    text-indent: 0%;
    font-size: large;
}

/* 9. Skills */

.skills{
    display: inline-block;
    padding: 2%;
    text-indent: 100%;
}
.skills-indent{
    text-indent: 5%;
}
.jumbotron{
    background-color:  #FCFCFC !important;
    text-align: center;
}